lib/bango/wsdl/billing_configuration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="com.bango.webservices.billingconfiguration" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="com.bango.webservices.billingconfiguration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="com.bango.webservices.billingconfiguration">
      <s:element name="CreateBillingConfiguration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" type="tns:CreateBillingConfigurationRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreateBillingConfigurationRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bango" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="typeFilter" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="priceList" type="tns:ArrayOfPrice" />
          <s:element minOccurs="0" maxOccurs="1" name="externalTransactionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pageTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="configurationOptions" type="tns:ArrayOfBillingConfigurationOption" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPrice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Price" type="tns:Price" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Price">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBillingConfigurationOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BillingConfigurationOption" type="tns:BillingConfigurationOption" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingConfigurationOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="configurationOptionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="configurationOptionValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateBillingConfigurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateBillingConfigurationResult" type="tns:CreateBillingConfigurationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreateBillingConfigurationResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="responseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="responseMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="billingConfigurationId" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="MessageSignature" type="tns:MessageSignature" />
      <s:complexType name="MessageSignature">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateBillingConfigurationSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBillingConfiguration" />
  </wsdl:message>
  <wsdl:message name="CreateBillingConfigurationSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBillingConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="CreateBillingConfigurationMessageSignature">
    <wsdl:part name="MessageSignature" element="tns:MessageSignature" />
  </wsdl:message>
  <wsdl:portType name="BillingConfigurationSoap">
    <wsdl:operation name="CreateBillingConfiguration">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a billing configuration to be consumed by DirectBilling.DoPaymentWithBillingConfigurationID.</wsdl:documentation>
      <wsdl:input message="tns:CreateBillingConfigurationSoapIn" />
      <wsdl:output message="tns:CreateBillingConfigurationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillingConfigurationSoap" type="tns:BillingConfigurationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBillingConfiguration">
      <soap:operation soapAction="com.bango.webservices.billingconfiguration/CreateBillingConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateBillingConfigurationMessageSignature" part="MessageSignature" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BillingConfigurationSoap12" type="tns:BillingConfigurationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBillingConfiguration">
      <soap12:operation soapAction="com.bango.webservices.billingconfiguration/CreateBillingConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateBillingConfigurationMessageSignature" part="MessageSignature" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillingConfiguration">
    <wsdl:port name="BillingConfigurationSoap" binding="tns:BillingConfigurationSoap">
      <soap:address location="https://webservices.bango.com/billingconfiguration/service.asmx" />
    </wsdl:port>
    <wsdl:port name="BillingConfigurationSoap12" binding="tns:BillingConfigurationSoap12">
      <soap12:address location="https://webservices.bango.com/billingconfiguration/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>